@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
#root {
  position: relative;
  padding: 0;
}
.modal {
  position: absolute;
  top: 0;
  left: 10%;
  right: 0;
  background-color: rgba(146, 217, 252, 0.5);
  width: 1200px;
  height: 600px;
  z-index: 555;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn {
  background-color: rgb(14 165 233);
}

.small-container {
  max-width: 100%;
  margin: 0 auto;
}

.container-box {
  width: 80%;
  position: relative;
}

@media (max-width: 768px) {
  .container-box {
    width: 100vw;
  }
  .small-container {
    width: 100%;
  }
}
