@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.btn {
  background-color: rgb(14 165 233);
}

.small-container {
  max-width: 100%;
  margin: 0 auto;
}

.container-box {
  width: 80%;
  position: relative;
}

@media (max-width: 768px) {
  .container-box {
    width: 100vw;
  }
  .small-container {
    width: 100%;
  }
}
